@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Leecher</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/lib/themeforest-theme/js/jquery.min.js"></script>
    <script src="~/lib/themeforest-theme/js/plugins.js"></script>
    <script src="~/lib/themeforest-theme/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/lib/themeforest-theme/js/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/lib/themeforest-theme/js/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="~/lib/themeforest-theme/js/bootstrap-wysihtml5/wysihtml5-0.3.0.min.js"></script>
    <script src="~/lib/themeforest-theme/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script src="~/lib/themeforest-theme/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/themeforest-theme/js/moment/moment.min.js"></script>
    <script src="~/lib/themeforest-theme/js/full-calendar/fullcalendar.js"></script>
    <script src="~/lib/themeforest-theme/js/date-range-picker/daterangepicker.js"></script>
    <link href="~/lib/themeforest-theme/css/style.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>